@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h2>Ürün Satış- Admin Paneli</h2>
    </div>
</div>